$black: #000000;

$grey: #b3b6b7; //line hr divide

$grey-light: #f2f3f4; //footer

$grey-medium: #a1a1a1; //input

$grey-dark: #4f4f4f; //font

$brown: #7f463a; //telephone

$brown-light: #7a725d; //font nav

$grey-beige: #a6a5a5; //language

$red: #000000;
